
.Modal_Overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0,0,0,0.4);
  &.anim-enter {
    opacity: 0.01;
  }
  
  &.anim-enter.anim-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
  
  &.anim-leave {
    opacity: 1;
  }
  
  &.anim-leave.anim-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
  }
}

.Modal{
  text-align: left;
  margin: 0 16px;
  position: fixed;
  z-index: 99;
  max-width: 530px;
  width: calc(100% - 32px);
  background-color: white;
  top: 50%;
  left: calc(50% - 16px);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

  &.anim-enter {
    transform: translate(-50%, -50%) scale(0.4);
  }
  
  &.anim-enter.anim-enter-active {
    transform: translate(-50%, -50%) scale(1.0);
    transition: all 200ms ease-in;
  }
  
  &.anim-leave {
    transform: translate(-50%, -50%) scale(1.0);
  }
  
  &.anim-leave.anim-leave-active {
    transform: translate(-50%, -50%) scale(0.4);
    transition: all 200ms ease-in;
  }
  .header{
    padding: 16px 32px;
    padding-top: 24px;
    font-size: 10pt;
  }
  .content{
    font-size: 12pt;
    padding: 12px 32px;
    color: #b1b5b9;
    a{
      color: #0092ff;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .footer{
    padding: 12px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 24px;
    button + button{
      margin-left: 8px;
    }
  }
}